<mat-card>
    <div class="margin-left-3 margin-top-1">
        <mat-card-title>About</mat-card-title>
        <mat-card-content>
            <p></p>
            <p>Hi!</p>
            <p>My name is Niklas, and I´m a computer engineer from Sweden.</p>
            <p>I currently work as a system developer at a company called Greencon, whose services are mainly used
                by
                the
                real
                estate industry.</p>
            <p>On my spare time I enjoy to code, hang out with friends, exercise and play video games.</p>
        </mat-card-content>
    </div>
</mat-card>