<mat-card>
    <div class="margin-left-3 margin-right-3">
        <mat-card-title>Projects</mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <p></p>
            <mat-list role="list">
                <mat-list-item role="listitem"><a href="https://examcenter.hig.se/">
                        <mat-icon>link</mat-icon> Exam center
                    </a></mat-list-item>
                <mat-list-item role="listitem"><a
                        href="http://www.diva-portal.org/smash/record.jsf?dswid=-7175&pid=diva2%3A1438472&c=8&searchType=SIMPLE&language=sv&query=optimering+av+sk%C3%A4rande+bearbetning&af=%5B%5D&aq=%5B%5B%5D%5D&aq2=%5B%5B%5D%5D&aqe=%5B%5D&noOfRows=50&sortOrder=author_sort_asc&sortOrder2=title_sort_asc&onlyFullText=false&sf=all">
                        <mat-icon>link</mat-icon> Thesis
                        Work in Computer Engineering 15.0 hp
                    </a></mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>
</mat-card>