<mat-card>
    <div class="margin-left-3 margin-right-3">
        <mat-card-title>
            <ion-icon name="mail"></ion-icon><span class="vertical-align-bottom"> Contact</span>
        </mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <p></p>
            <p>info@niklasnordgren.com</p>
            <mat-divider class="margin-bottom-1" [inset]="true"></mat-divider>

            <div class="form-panel">
                <form class="form" #formDirective="ngForm" [formGroup]="contactForm"
                    (ngSubmit)="sendMail($event, formDirective)">

                    <mat-form-field class="form-full-width">
                        <mat-label>Email</mat-label>
                        <input name="from_name" class="form-input" matInput [formControl]="emailFormControl"
                            autocomplete="off" placeholder="Ex. example@email.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-full-width margin-top-3">
                        <mat-label>Message</mat-label>
                        <textarea name="message" class="form-text-area form-input" matInput
                            [formControl]="textFieldFormControl" placeholder="Type message here"></textarea>
                        <mat-error *ngIf="textFieldFormControl.hasError('required')">
                            Message is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="resetForm(formDirective)" type="button">
                        <ion-icon name="refresh-outline"></ion-icon><span class="button-text-wrapper">Reset</span>
                    </button>
                    <button [disabled]="!contactForm.valid" class="margin-top-3 margin-left-3" color="primary"
                        type="submit" mat-raised-button>
                        <ion-icon name="send-outline" class="vertical-align-middle"></ion-icon><span
                            class="button-text-wrapper">Send</span>
                    </button>
                </form>
            </div>

        </mat-card-content>
    </div>
</mat-card>