<mat-toolbar color="accent">

  <span class="margin-left-3">N.N.N</span>

  <span class="fill-space"></span>

  <div *ngIf="darkthemeactive; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
      <button (click)="toggleTheme()" mat-icon-button class="margin-right-3" aria-label="Icon button with a half moon icon, dark theme">
          <mat-icon>brightness_2</mat-icon>
      </button>
  </ng-template>

  <ng-template #elseBlock>
      <button (click)="toggleTheme()" mat-icon-button class="margin-right-3" aria-label="Icon button with sun icon, light theme">
          <mat-icon>wb_sunny</mat-icon>
      </button>
  </ng-template>

</mat-toolbar>

<mat-toolbar>
  <button mat-button class="margin-left-3" [routerLink]="['/blog']"><mat-icon>create</mat-icon> Blog</button>
  <button mat-button class="margin-left-3" [routerLink]="['/about']"><mat-icon>info</mat-icon> About</button>
  <button mat-button class="margin-left-3" [routerLink]="['/contact']"><mat-icon>email</mat-icon> Contact</button>
</mat-toolbar>

<router-outlet></router-outlet>