<mat-card>
    <div class="margin-left-3 margin-right-3">
        <mat-card-title>Blog</mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <p></p>
            <p>This section is under construction.</p>
            
            <!--
            <mat-list>

                <mat-list-item>
                    <mat-icon matListIcon>stop_circle</mat-icon>
                    <h3 matLine>The second blog post </h3>
                    <p matLine>2020-08-30</p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListIcon>stop_circle</mat-icon>
                    <h3 matLine>The first blog post </h3>
                    <p matLine>2020-08-30</p>
                </mat-list-item>

            </mat-list>
            -->
        </mat-card-content>
    </div>
</mat-card>