<mat-card>
    <div class="margin-left-3 margin-right-3">
        <mat-card-title>
            <ion-icon name="pencil"></ion-icon><span class="vertical-align-bottom"> Blog</span>
        </mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <p></p>
            <p>This section is under construction.</p>
            <!--
            <mat-list>

                <mat-list-item>
                    <mat-icon matListIcon>stop_circle</mat-icon>
                    <h3 matLine class="underline-on-hover" [routerLink]="['blog/post']">The first post</h3>
                    <p matLine>2020-08-31</p>
                </mat-list-item>

                <mat-divider [inset]="true"></mat-divider>

            </mat-list>
            -->
        </mat-card-content>
    </div>
</mat-card>