<mat-card>
    <div class="margin-left-3 margin-right-3">
        <mat-card-title>
            <ion-icon name="pencil"></ion-icon><span class="vertical-align-bottom"> Blog</span>
        </mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>

            <mat-list>

                <div *ngFor="let post of posts">
                    <mat-list-item>
                        <mat-accordion matLine>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ post.title }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{ post.dateString }}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p></p>
                                <p *ngFor="let paragraph of post.paragraphs">{{ paragraph }}</p>

                                <button color="accent" mat-raised-button (click)="gotoPost(post)">
                                    <ion-icon name="link"></ion-icon> Post link
                                </button>

                                <mat-divider></mat-divider>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-list-item>

                </div>

            </mat-list>

        </mat-card-content>
    </div>
</mat-card>