::ng-deep .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}

::ng-deep .mat-list .mat-list-item {
    height: initial !important;
    //padding: 1% 1% !important;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: block;
    margin-bottom: 0px;
}

mat-panel-title{
    text-align: center;
}

mat-panel-description{
    text-align: center;
}

mat-accordion {
    width: 100%;
}

ion-icon {
    margin-bottom: 3px;
}
