<mat-card>
    <div class="margin-left-3 margin-right-3">
        <mat-card-title>Home</mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <p></p>
            <p>Hi!</p>
            <p>Welcome to my personal web page.</p>
            <p>My name is Niklas, and I´m a computer engineer from Sweden.</p>
            <p>I currently work as a system developer at a company called Greencon, whose services are mainly used
                by
                the
                real
                estate industry.</p>
            <p>On my spare time I enjoy to write code, hang out with friends, exercise and play video games.</p>
            <p></p>
            <p>Programming languages, frameworks, libraries and other tools i have experiance with:</p>
            
            <p></p>
            <mat-list class="list-horizontal">
                <mat-divider [inset]="true"></mat-divider>
                <p></p>
                <mat-list-item matTooltip="android"><i class="devicon-android-plain"></i></mat-list-item>
                <mat-list-item matTooltip="angularjs"><i class="devicon-angularjs-plain"></i></mat-list-item>
                <mat-list-item matTooltip="atom"><i class="devicon-atom-original"></i></mat-list-item>
                <mat-list-item matTooltip="babel"><i class="devicon-babel-plain"></i></mat-list-item>
                <mat-list-item matTooltip="bitbucket"><i class="devicon-bitbucket-plain"></i></mat-list-item>
                <mat-list-item matTooltip="bootstrap"><i class="devicon-bootstrap-plain"></i></mat-list-item>
                <mat-list-item matTooltip="chrome"><i class="devicon-chrome-plain"></i></mat-list-item>
                <mat-list-item matTooltip="confluence"><i class="devicon-confluence-plain"></i></mat-list-item>
                <mat-list-item matTooltip="c"><i class="devicon-c-plain"></i></mat-list-item>
                <mat-list-item matTooltip="cplusplus"><i class="devicon-cplusplus-plain"></i></mat-list-item>
                <mat-list-item matTooltip="csharp"><i class="devicon-csharp-plain"></i></mat-list-item>
                <mat-list-item matTooltip="debian"><i class="devicon-debian-plain"></i></mat-list-item>
                <mat-list-item matTooltip="devicon"><i class="devicon-devicon-plain"></i></mat-list-item>
                <mat-list-item matTooltip="docker"><i class="devicon-docker-plain"></i></mat-list-item>
                <mat-list-item matTooltip="dot-net"><i class="devicon-dot-net-plain"></i></mat-list-item>
                <mat-list-item matTooltip="ember"><i class="devicon-ember-original-wordmark"></i></mat-list-item>
                <mat-list-item matTooltip="facebook"><i class="devicon-facebook-plain"></i></mat-list-item>
                <mat-list-item matTooltip="firefox"><i class="devicon-firefox-plain"></i></mat-list-item>
                <mat-list-item matTooltip="git"><i class="devicon-git-plain"></i></mat-list-item>
                <mat-list-item matTooltip="github"><i class="devicon-github-plain"></i></mat-list-item>
                <mat-list-item matTooltip="gitlab"><i class="devicon-gitlab-plain"></i></mat-list-item>
                <mat-list-item matTooltip="google"><i class="devicon-google-plain"></i></mat-list-item>
                <mat-list-item matTooltip="gradle"><i class="devicon-gradle-plain"></i></mat-list-item>
                <mat-list-item matTooltip="intellij"><i class="devicon-intellij-plain"></i></mat-list-item>
                <mat-list-item matTooltip="ionic"><i class="devicon-ionic-original"></i></mat-list-item>
                <mat-list-item matTooltip="java"><i class="devicon-java-plain"></i></mat-list-item>
                <mat-list-item matTooltip="javascript"><i class="devicon-javascript-plain"></i></mat-list-item>
                <mat-list-item matTooltip="jquery"><i class="devicon-jquery-plain"></i></mat-list-item>
                <mat-list-item matTooltip="linux"><i class="devicon-linux-plain"></i></mat-list-item>
                <mat-list-item matTooltip="mysql"><i class="devicon-mysql-plain"></i></mat-list-item>
                <mat-list-item matTooltip="nginx"><i class="devicon-nginx-original"></i></mat-list-item>
                <mat-list-item matTooltip="nodejs"><i class="devicon-nodejs-plain"></i></mat-list-item>
                <mat-list-item matTooltip="npm"><i class="devicon-npm-original-wordmark"></i></mat-list-item>
                <mat-list-item matTooltip="php"><i class="devicon-php-plain"></i></mat-list-item>
                <mat-list-item matTooltip="postgresql"><i class="devicon-postgresql-plain"></i></mat-list-item>
                <mat-list-item matTooltip="react"><i class="devicon-react-original"></i></mat-list-item>
                <mat-list-item matTooltip="tomcat"><i class="devicon-tomcat-line"></i></mat-list-item>
                <mat-list-item matTooltip="typescript"><i class="devicon-typescript-plain"></i></mat-list-item>
                <mat-list-item matTooltip="ubuntu"><i class="devicon-ubuntu-plain"></i></mat-list-item>
                <mat-list-item matTooltip="visualstudio"><i class="devicon-visualstudio-plain"></i></mat-list-item>
                <p></p>
                <mat-divider [inset]="true"></mat-divider>
              </mat-list>
        </mat-card-content>
    </div>
</mat-card>