mat-list.list-horizontal {
    padding: 0;
    text-align: center; flex: 1 1 auto;
    .mat-list-item {
        display: inline-block;
        height: auto;
        width: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}
